@page "/"

<PageTitle>Weather Now</PageTitle>

<h1>Search for a place</h1>

<input placeholder="Enter city name" class="form-control" @onchange="ShowSuggestions"/>

@code {
	private void ShowSuggestions(ChangeEventArgs e)
	{
		// Handle the input change event here
	}
}

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 300px;"></MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>