@page "/"

<PageTitle>Weather Now</PageTitle>

<h1>Search for a place</h1>

<input placeholder="Enter city name" class="form-control" @onchange="ShowSuggestions"/>

@code {
	private void ShowSuggestions(ChangeEventArgs e)
	{
		// Handle the input change event here
	}
}